html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main {
    text-align: center;
    justify-content: center;
    padding: 50px;
}

button {
    /*background: #252525;*/
    border: 2px solid #272727;
    width: 100px;
    border-radius: 2px;
}

.btn-disabled {
    background: #e0e0e0;
    color: #fff;
}

.btn-active {
    background: #4685ab;
    color: #fff;
}

#comic-img {
    /*min-height: 400px;*/
}

#title {
    color: #4685ab;
    text-shadow: 0 0 0 #252525;
}
