body {
    background: white;
}

.button {
    background: #ececec;
    width: 127px;
    height: 38px;
    box-shadow: 0 0 1px #000000;
    border: 0 solid;
}

#autorun-label {
    padding: 10px;
}

#header {
    padding: 15px;
    height: 37px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#content {
    height: 80%;
    position: absolute;
    padding-top: 10px;
    top: 75px;
    right: 0;
    bottom: 0;
    left: 0;
}

#left_pane, #right_pane {
    width: 48%;
    margin: 10px;
    height: 100%;
}

#left_pane {
    float: left;
}

#right_pane {
    float: right;
}

textarea#code {
    width: 100%;
    height: 99%;
    resize: none;
}